<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu animal favorito</title>
</head>
<body>
    <h2>Tu animal favorito es : <%= animalParaEnviarWeb %></h2>
    <p>para volver al <a href="/">formulario</a></p>
</body>
</html>